<h2>Reset Password</h2>
<% if (typeof error !=='undefined' ) { %>
  <h5 style="color: red;">
    <%= error %>
  </h5>
  <% } %>

    <form action="/reset-password?token=<%found.token %>" method="POST">
      <input type="hidden" name="user_id" value="<% found.user_id%>" required><br><br>
      <label for="password">New Password:</label>
      <input type="password" name="password" required><br><br>

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" required><br><br>

      <input type="submit" value="reset password">
    </form>